
{% extends 'base_support.html' %}
{% load static %}


{% block meta %}
<title>Support</title>
{% endblock meta %}

{% block content %}
<div class="row">
    <h1>Pesan Anda Telah Terkirim</h1>
    <h3 style="text-align: center; color: white;">Terima kasih telah mengirim pesan kepada kami! Kami akan segera mengirimkan jawaban melalui email Anda</h3>
    <div class="button">
        <div class="col-sm-left">
            <a class="btn btn-primary" href="{% url 'formulirsupport' %}" role="button">Kirim Pesan Lagi</a>
        </div>
        <div class="col-sm-right">
            <a class="btn btn-primary" href="{% url 'index' %}" role="button">Balik Ke Halaman Utama</a>
        </div>
    </div>
    
</div>


{% endblock %}