/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
html {
  font-size: 10px;
  font-family: 'Nunito', sans-serif;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #1D2D50;
  padding: 10px;
  font-size: 2vh;
  margin-bottom: 30px;
}
#containerfeedform{
  color: white;
}
/* Navbar*/
.navbar-nav li {
  margin: 10px;
}

.navbar-brand {
  margin-left: 10px;
}

nav{
  background: rgba(0, 0, 0, 0.5);
  opacity: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 0;
  position: relative;
}
.navbar-nav{
  margin-left: auto;
  opacity: 100%;

}
.navbar img{
  margin-left: 60px;
}
.navbar a{
  margin-right: 55px;
  font-family: 'Nunito', sans-serif;
  font-size: 2.3vh;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: white !important;
}

@media screen and (max-width:1025px){
  .navbar img{
      width: 30px;
      margin-left: 10px;
  }
  .navbar a{
      font-size: 2.3vh;
  }